{% load static from staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    </head>
    <body>
        <div class="site-container">
            <nav>
                <a href="{% url 'hello_world' %}">Home</a>
                <a href="{% url 'courses:course_list' %}">Courses</a>
            </nav>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>